extends layout.jade

block content
    .row-fluid.marketing
        .span12
            h1 Tags
            each tag, index in tags
                h2
                    a(href='#{content.rootpath}#{tag.uri}') #{tag.name}
                    | #{tag.tagged_posts.size()}
    hr
