.classpath
.project
/.settings
/target
**/target
/bin
/dist
/.idea
*.iml
*~
*.ipr
*.iws
build/
.gradle
.gradletasknamecache
/docs/kotlin-migration-line-analysis/*
dependency-reduced-pom.xml
pom.xml.versionsBackup
.flattened-pom.xml
