extends layout.jade

block content
    .row-fluid.marketing
        .span12
            each post, index in posts
                if index < 3
                    h4
                        a(href='#{post.uri}') #{post.title}
                    p #{formatter.format(post.date, 'dd MMMM yyyy')} - #{post.body.substring(0, 150)}...

            a(href='/archive.html') Archive
    hr
