<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.jbake" level="DEBUG"/>

    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.asciidoctor" level="WARN"/>
    <!-- Remove confusing log messages from apache configurations/beanutils. -->
    <logger name="org.apache.commons.beanutils.FluentPropertyBeanIntrospector" level="ERROR"/>
    <logger name="org.apache.commons.beanutils.converters" level="WARN"/>
    <logger name="io.mockk" level="WARN"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="org.eclipse.jgit" level="WARN"/>

</configuration>
