<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.asciidoctor" level="INFO"/>
    <logger name="org.jbake" level="DEBUG"/>
    <!-- Remove confusing log messages from apache configurations/beanutils. -->
    <logger name="org.apache.commons.beanutils.FluentPropertyBeanIntrospector" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
