title=First Post
date=2018-01-01
last_updated=2018-02-01
type=post
tags=blog
status=published
author=Manik Magar
~~~~~~

<img src="img/blog/sample-image.jpg"/>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel diam purus. Curabitur ut nisi lacus.</p>

<ul>
<li><a href="http://example.org">http://example.org</a></li>
<li><a href="http://example.org">Example.org</a></li>
</ul>

<p>Nam id nisl quam. Donec a lorem sit amet libero pretium vulputate vel ut purus. Suspendisse leo arcu,
mattis et imperdiet luctus, pulvinar vitae mi. Quisque fermentum sollicitudin feugiat. Mauris nec leo
ligula. Vestibulum tristique odio ut risus ultricies a hendrerit quam iaculis. Duis tempor elit sit amet
ligula vehicula et iaculis sem placerat. Fusce dictum, metus at volutpat lacinia, elit massa auctor risus,
id auctor arcu enim eu augue. Donec ultrices turpis in mi imperdiet ac venenatis sapien sodales.</p>

<pre class="prettyprint">
<code>
package org.jbake;

public class Oven {
	public static void main(String[] args) {
		System.out.print("Baking!");
  }
}
</code>
</pre>

<p>In consequat imperdiet nunc quis bibendum. Nulla semper, erat quis ornare tristique, lectus massa posuere
libero, ut vehicula lectus nunc ut lorem. Aliquam erat volutpat.</p>
