extends layout.jade

block content
    .row-fluid.marketing
        .span12
            h2 Category Posts
            each post, index in category_posts
                if last_month != formatter.format(post.date, 'MMMM yyyy')
                    h3 #{formatter.format(post.date, 'MMMM yyyy')}
                h4
                    | #{formatter.format(post.date, 'dd MMMM')}
                    | &nbsp;-&nbsp;
                    a(href='#{post.uri}') #{post.title}
                - var last_month = formatter.format(post.date, 'MMMM yyyy')
    hr
    