name: Build

on:
    pull_request:

jobs:
    build:
        name: Build
        strategy:
            fail-fast: false
            matrix:
                os: [ ubuntu-latest, macos-latest, windows-latest ]
        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v5

            - name: Set up Java
              uses: actions/setup-java@v5
              with:
                  java-version: 17
                  distribution: 'zulu'

            - uses: actions/cache@v4
              with:
                  path: ~/.gradle/caches
                  key: ${{ runner.os }}-gradle-cache-${{ hashFiles('**/*.gradle') }}-${{ hashFiles('**/gradle.properties') }}
                  restore-keys: |
                      ${{ runner.os }}-gradle-
            - uses: actions/cache@v4
              with:
                  path: ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('**/gradlew') }}
                  restore-keys: |
                      ${{ runner.os }}-gradlew-
            - name: Build-windows
              if: runner.os == 'Windows'
              shell: cmd
              run: gradlew.bat -Dfile.encoding=UTF-8 build -S
            - name: Build-linux
              if: runner.os != 'Windows'
              run: ./gradlew build -S

            - name: Upload Reports
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                  name: reports-${{ runner.os }}
                  path: |
                      jbake-core/build
                      jbake-dist/build
