name: Build

on:
    push:
        branches:
            - 'master'
            - 'chore/**'
            - 'feat/**'
            - 'fix/**'
    pull_request:
        branches:
            - 'master'

jobs:
    build:
        name: Build
        strategy:
            fail-fast: false
            matrix:
                os: [ ubuntu-latest, macos-latest, windows-latest ]
        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v5

            - name: Set up Java
              uses: actions/setup-java@v5
              with:
                  java-version: 11
                  distribution: 'temurin'

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5

            - name: Build-win
              if: runner.os == 'Windows'
              shell: cmd
              run: gradlew.bat -Dfile.encoding=UTF-8 build -S
            - name: Build-nix
              if: runner.os != 'Windows'
              run: ./gradlew build -S

            - name: Upload Reports
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                  name: reports-${{ runner.os }}
                  path: |
                      jbake-core/build
                      jbake-dist/build
