name: EarlyAccess

on:
    push:
        branches: [ master ]

jobs:
    earlyaccess:
        name: EarlyAccess
        if: github.repository == 'jbake-org/jbake'
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - name: Set up Java
              uses: actions/setup-java@v5
              with:
                  java-version: 11
                  distribution: 'temurin'

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5

            - name: Build
              run: ./gradlew build -S

            - name: Release
              run: ./gradlew jreleaserRelease -S
              env:
                  JRELEASER_GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
                  JRELEASER_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
                  JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}
                  JRELEASER_GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
                  JRELEASER_SDKMAN_CONSUMER_KEY: ${{ secrets.SDKMAN_CONSUMER_KEY }}
                  JRELEASER_SDKMAN_CONSUMER_TOKEN: ${{ secrets.SDKMAN_CONSUMER_TOKEN }}

            - name: JReleaser output
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  name: jreleaser-logs
                  path: |
                      jbake-dist/build/jreleaser/trace.log
                      jbake-dist/build/jreleaser/output.properties
